# Dependencies
markdown:         redcarpet
highlighter:      pygments

# Permalinks
permalink:        pretty
relative_permalinks: true

# Setup
title:            "Quangmire's Dev Blog"
tagline:          "Quang's Portfolio"
description:      "Quang(mire) Duong's Portfolio and Musings"
url:              http://hyde.getpoole.com
baseurl:          /

author:
  name:           'Quang Duong'
  url:            https://github.com/Quangmire

paginate:         5

# Custom vars
version:          2.1.0

github:
  repo:           https://github.com/poole/hyde
