html {
	font-family: Vollkorn, Arial;
	font-size: 24px;
}

body {
	background-color: #4F4F53;
}

.post {
	margin: 30px 0px 30px 372px;
	max-width: 800px;
	padding: 30px 100px 30px 30px;
	background-color: #ECE9E4;
	border-radius: 0px 4px 4px 0px;
	border: 1px #1F1F21 solid;
	box-shadow: 3px 3px 2px #1F1F21
}

.post-date {
	display: inline;
	position: absolute;
	/*background-color: #2F2F32;*/
	width: 200px;
	height: 40px;
	margin-left: 740px;
	margin-top: 5px;
	color: white;
	text-align: center;
	background-image: url("{{ site.baseurl }}public/ribbon.png");
	box-shadow: 3px 3px 3px #1F1F21;
}

.post-date:before {
	position: absolute;
	left: 170px;
	top: -10px;
	border-right: 15px solid transparent;
	border-top: 5px solid transparent;
	border-bottom: 5px solid black;
	border-left: 15px solid black;
	content: "";
}

.post-date span {
	display: inline-block;
	vertical-align: middle;
	line-height: 42px;
	padding-left: 20px;
}

.post a {
	text-decoration: none;
	color: black;
}

.post a:hover {
	text-decoration: underline;
}

.post-title {
	font-weight: bold;
	font-size: 36px;
	line-height: 20px;
}

.sidebar {
	position: fixed;
	width: 320px;
	background-color: #1F1F22;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 60px;
	color: white;
	border-radius: 4px;
	box-shadow: 3px 0px 3px #1F1F21
}

.sidebar-content {
	font-size: 28px;
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.sidebar a {
	text-decoration: none;
	color: white;
}

.sidebar a:hover {
	text-decoration: underline;
}

.sidebar ul {
	list-style-type: none;
	padding: 0px;
}