/*
Colors: 
bg : 4F4F53
blue link : 268BD2
ribbon : 1F1F22

Locations: 
right edge of ribbon : 372px
width of post : 930px;
*/

html {
	font-family: Vollkorn, Arial;
	font-size: 24px;
}

body {
	background-color: #4F4F53;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.code {
	background-color: #DDDDDD;
	border: 1px black solid;
	border-radius: 4px;
	padding: 8px;
}

code {
	background-color: #DDDDDD;
	border: 1px black solid;
	border-radius: 4px;
	padding: 2px;
	font-size: 20px;
	line-height: 20px;
}

.code code {
	background: 0;
	border: 0;
	font-family: monospace;
	font-size: 20px;
	line-height: 20px;
}

.archive-date {
	font-size: 16px;
	line-height: 20px;
	color: #666666;
	vertical-align: middle;
}

.archive-title {
	font-size: 24px;
	line-height: 24px;
	vertical-align: middle;
	font-weight: bold;
}

.archive-content .archive-title > a {
	color: black;
}

.archive-content {
	font-size: 16px;
	position: absolute;
	left: 500px;
}

.archive-tags {
	color: #666666;
}

.archive-content a {
	color: #268BD2;
}

.pagination {
	margin: 30px 0px 30px 372px;
	width: 800px;
	padding-left: 300px;
}

.pagination-item {
	width: 100px;
	padding: 20px;
	position: absolute;
	background-color: #3F3F43;
	color: #EEEEEE;
	margin-bottom: 30px;
	text-align: center;
	border: 1px #EEEEEE solid;
	box-shadow: 3px 3px 3px #3F3F43;
}

.pagination a:hover {
	background-color: #6F6F74;
	text-decoration: none;
}

.pagination span {
	color: #888888;
	border-color: #888888;
}

.pagination-number {
	color: #EEEEEE;
	position: absolute;
	left: 382px;
	width: 930px;
	margin-top: 20px;
	text-align: center;
	z-index: -1;
}

.newest {
	left: 400px;
}

.newer {
	left: 550px;
}

.older {
	left: 1000px;
}

.oldest {
	left: 1150px;
}

.post {
	margin: 30px 0px 30px 372px;
	width: 800px;
	padding: 30px 100px 30px 30px;
	background-color: #ECE9E4;
	border-radius: 0px 4px 4px 0px;
	border: 1px #1F1F21 solid;
	box-shadow: 3px 3px 2px #1F1F21;
	line-height: 32px;
}

.post-date {
	display: inline;
	position: absolute;
	width: 204px;
	height: 54px;
	margin-left: 730px;
	margin-top: -65px;
	color: white;
	text-align: center;
	background-image: url("/public/ribbon.png");
	/*box-shadow: 3px 3px 3px #1F1F21;*/
}

.post-date span {
	display: inline-block;
	vertical-align: middle;
	line-height: 52px;
	padding-left: 20px;
	padding-top: 8px;
}

.post a {
	color: #268BD2;
}

.post-title {
	font-weight: bold;
	line-height: 20px;
	color: black;
}

.post-title a {
	color: black;
}

.sidebar {
	position: fixed;
	display:inline;
	width: 320px;
	background-color: #1F1F22;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 60px;
	color: white;
	border-radius: 4px;
	box-shadow: 3px 0px 3px #1F1F21
}

.sidebar-content {
	font-size: 24px;
	position: absolute;
	right: 20px;
	bottom: 0px;
	left: 20px;
}

.sidebar-profile {
	width: 200px;
	height: 200px;
	text-align: center;
	margin: auto;
	font-size: 20px;
	border-radius: 100px;
	border: 4px solid white;
	background-image: url("/public/profile.png");
}

.sidebar h4 {
	font-size: 20px;
	font-weight: normal;
	color: #CCCCCC;
}

.sidebar a {
	color: white;
}

.sidebar ul {
	list-style-type: none;
	padding: 0px;
}