:root {
    /* Sidebar Variables */
    --sidebar-content-width: 270px;
    --sidebar-padding: 15px;
    --sidebar-width: calc(var(--sidebar-content-width));

    /* Colors */
    --color-primary: #282a36;
    --color-secondary: #f3f4f6;
    --color-secondary-border: #d3d4d6;
    --color-font-dark: #212529;
    --color-font-light: #f8f8f2;
    --color-font-link: #4ba9cd;
    --color-font-secondary: #48f;
}

html, body, #root, #wrapper, #content {
    font-family: "Noto Serif", serif;
    line-height: 1.5;
    height: 100%;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

#wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0px;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.1rem;
}

@media (max-width: 800px) {
    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1.15rem;
    }

    h5 {
        font-size: 1.1rem;
    }
}


a {
    font-weight: 700;
    text-decoration: none; color: var(--color-font-link);
}

a:hover {
    text-decoration: underline;
}

/* Card */
.card {
    border: 1px solid var(--color-secondary-border);
    border-radius: 0.25em;
    width: 100%;
    max-width: 800px;
    word-wrap: normal;
    animation: 0.5s ease-out 0s 1 slideInFromBottom;
}

.card img {
    margin: auto;
    display: block;
    max-width: 100%;
}


.card-header {
    background-color: var(--color-secondary);
    border-bottom: 1px solid var(--color-secondary-border);
    color: var(--color-font-dark);
    border-radius: 0.2em 0.2em 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-header > * {
    margin: 0px;
    padding: 5px 15px;
    flex: 1;
}

.card-header .card-date {
    text-align: right;
}

.card-header a {
    text-decoration: none;
    color: var(--color-font-dark);
}

.card-header a:hover {
    text-decoration: underline;
    color: var(--color-font-link);
}

.card-body {
    margin: 15px;
    height: auto;
}

.card-body a {
    text-decoration: none;
    color: var(--color-font-link);
}

.card-body a:hover {
    text-decoration: underline;
}

.card-body h1, h2, h3, h4, h5, h6, p {
    margin: 5px;
}

.card-tags {
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: 700;
    color: var(--color-font-secondary);
}

.card-tags .comma {
    padding-right: 2px;
}

/* Title Bar */
#nav-collapse {
    font-size: 24px;
    padding: 0px 20px 0px 20px;
    color: var(--color-font-dark);
    background: var(--color-secondary);
    border: 1px solid var(--color-secondary-border);
    border-radius: 0.25em;
    font-family: 'FontAwesome';
    aria-hidden: true;
    flex: 0;
}

#titlebar {
    max-width: 800px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#titlebar-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
}

#title {
    margin-right: 71px;
    height: auto;
    flex: 1;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

#title * {
    margin: 0px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

/* Main Content */
#content {
    padding: 0 15px 15px 15px;
    flex: 1;
    min-width: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(0);
    display: flex;
    flex-direction: column;
}

/* Navbar */
#navbar {
    margin-left: -15px;
    width: calc(100% + 30px);
    max-width: 800px;
    transition: margin 0.5s ease;
    padding: 0;
    margin-top: -280px;
    height: 280px;
}

#navbar-content {
    background-color: var(--color-primary);
}

#navbar > .nav > .nav-item > a {
    color: var(--color-font-light);
    text-align: center;
}

#navbar.active {
    margin-top: 0px;
}

#navbar .nav-link {
    text-align: center;
}

/* Sidebar */
#sidebar-flex {
    padding: 0;
    width: var(--sidebar-width);
    margin-left: calc(-1 * var(--sidebar-width));
    transition: margin 0.5s ease-out;
    flex: 0 0 var(--sidebar-width);
    visibility: hidden;
}

#sidebar.active #sidebar-flex {
    margin-left: var(--sidebar-padding);
}

#sidebar-container {
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 0;
    transition: margin 0.5s ease-out;
    margin-left: calc(-1 * var(--sidebar-width));
    width: var(--sidebar-content-width);
    background-color: var(--color-primary);
    transform: translateZ(0);
}

#sidebar.active #sidebar-container {
    margin-left: var(--sidebar-padding);
    transform: translateZ(0);
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

#sidebar-content {
    visibility: visible;
    margin-top: auto;
    bottom: 0;
    width: var(--sidebar-content-width);
    transition: margin 0.5s ease-out;
    position: fixed;
    padding-bottom: 1rem;
    list-style: none;
    color: white;
}

#sidebar-content .nav-logo {
    font-size: 18px;
}

.nav-link {
    padding: 0.5rem 0 0.5rem 2rem;
    color: white;
    display: block;
    text-decoration: none;
}

#sidebar-content .nav-link.sidebar-active-tab {
    color: var(--color-font-dark);
    background-color: white;
}

/* Pages */
.page {
    width: 100%;
    max-width: 800px;
}

.page > .card {
    margin-bottom: 15px;
}

.md > ul {
    list-style-type: square;
}

.md > ul > li > p {
    margin-bottom: 0;
}

/* Listings */
.listing {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    height: 100%;
    flex: 10;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 800px;
    justify-content: space-between;
}

.listing > .row {
    height: 400px;
    flex-shrink: 0;
}

.listing > .card, .row {
    margin-bottom: 15px;
}

.listing .row .card {
    /* 2 cards per row + 15px padding + 4px border */
    max-width: calc(50% - 10px);
    height: 400px;
    flex: 1;
}

.listing .card > .card-body {
    max-width: 100%;
    height: calc(319px - 2rem); /* 400 - 51 (header) - 30 (padding) */
    overflow: hidden;
    position: relative;
}

.listing .card > .card-header {
    position: relative;
}

.read-more {
    padding-right: 10px;
    margin-top: -5px;
}

.github {
    position: absolute;
    top: 0;
    padding: 0;
    height: 100%;
}

.github a i {
    padding: 9px 15px;
    font-size: 32px;
}

.github a:hover i {
    color: var(--color-font-link);
}

/* 404 Content */
.not-found {
    width: 100%;
}

.wip {
    width: 100%;
}

/* About Page */
.about .card-body:after { /* Fix Size with Floating */
    content: '';
    display: block;
    height: 0;
    clear: both;
}

.about .about-img {
    float: left;
    padding-right: 15px;
}

/* Tables */
table {
    border-collapse: collapse;
    max-width: 100%;
    margin: auto;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    text-align: center;
}
