:root {
    /* Sidebar Variables */
    --sidebar-content-width: 270px;
    --sidebar-padding: 15px;
    --sidebar-width: calc(var(--sidebar-content-width));

    /* Colors */
    --color-primary: #282a36;
    --color-secondary: #f3f4f6;
    --color-font-dark: #212529;
    --color-font-light: #f8f8f2;
}

html, body, #root, #wrapper {
    font-family: "Inconsolata", monospace !important;
    height: 100%;
    box-sizing: border-box;
}

#wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0px;
}

/* Main Content */
#content {
    flex: 1;
    min-width: 0;
    transform: translateZ(0); 
}

.row {
    margin-left: 0px;
}

/* Navbar */
#navbar {
    margin-left: -15px;
    width: calc(100% + 100px);
    transition: margin 0.5s ease;
    padding: 0;
    margin-top: -240px;
    height: 240px;
}

#navbar-content {
    background-color: var(--color-primary);
}

#navbar > .nav > .nav-item > a {
    color: var(--color-font-light);
    text-align: center;
}

#navbar.active {
    margin-top: 0px;
}

#navbar > .nav {
    width: 100%;
}

#navbar > .nav > .nav-item {
    width: 100%;
}

/* Sidebar */
#sidebar-flex {
    padding: 0;
    width: var(--sidebar-width);
    margin-left: calc(-1 * var(--sidebar-width));
    transition: margin 0.5s ease-out;
    flex: 0 0 var(--sidebar-width);
    visibility: hidden;
}

#sidebar.active #sidebar-flex {
    margin-left: var(--sidebar-padding);
    /*animation: 0.5s ease-out 0s 1 slideInFromLeft;*/
}

#sidebar-container {
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 0;
    transition: margin 0.5s ease-out;
    margin-left: calc(-1 * var(--sidebar-width));
    width: var(--sidebar-content-width);
    background-color: var(--color-primary);
    transform: translateZ(0); 
}

#sidebar.active #sidebar-container {
    margin-left: var(--sidebar-padding);
    /*animation: 0.5s ease-out 0s 1 slideInFromLeft;*/
    transform: translateZ(0); 
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

#sidebar-content {
    visibility: visible;
    margin-top: auto;
    bottom: 0;
    width: var(--sidebar-content-width);
    transition: margin 0.5s ease-out;
    position: fixed;
    padding-bottom: 1rem;
    list-style: none;
    color: white;
}

@media (max-width: 800px) {
    #sidebar-content {
        top: 0;
    }
}

#sidebar-content > .nav-item > a {
    padding: 0.5rem 0 0.5rem 2rem;
    color: white;
}

#sidebar-content > .nav-item > * {
    padding: 0.5rem 0 0.5rem 2rem;
}

#sidebar-content > .nav-item > a.sidebar-active-tab {
    color: var(--color-font-dark);
    background-color: white;
}

.navbar-brand {
    font-size: 22px !important;
}

/* Titlebar */
#titlebar {
    width: 100%;
    max-width: 800px;
    padding-left: 0px;
    padding-right: 56px; /* Same size as toggle button */
}

/* Projects */
.project {
    width: 100%;
    max-width: 800px;
}

.project > .card {
    word-wrap: normal;
    margin-bottom: 15px;
    animation: 0.5s ease-out 0s 1 slideInFromBottom;
}

.card-header {
    background-color: var(--color-secondary);
    color: var(--color-font-dark);
}

.project > .card img {
    margin: auto;
    display: block;
    max-width: 100%;
}

.md > ul {
    list-style-type: square;
}

.md > ul > li > p {
    margin-bottom: 0;
}

/* 404 Content */
.not-found {
    width: 100%;
    max-width: 800px;
}

.not-found > .card {
    word-wrap: normal;
}

/* About */
.about {
    width: 100%;
    max-width: 800px;
}

.about > .card {
    word-wrap: normal;
}

.about-img {
    float: left;
    padding: 15px;
}

/* Tables */
table {
    border-collapse: collapse;
    max-width: 100%;
    margin: auto;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    text-align: center;
}
