{% extends 'navbar_base.html' %}

{% import "pagination.html" as pagination %}
{% import "summary_card.html" as summary_card %}

{% block title %}Home{% endblock title %}

{% block content %}

{{ pagination.paginate(path, cur_page, num_pages, min_page, max_page) }}

<div class='card'>
    <div class='header-card-container'>
        <span class='header-card-text'>All Posts</span>
    </div>
</div>

{% for post in posts %}
    {{ summary_card.render(post) }}
{% endfor %}

{{ pagination.paginate(path, cur_page, num_pages, min_page, max_page) }}

{% endblock content %}
