$primary-color: #2E5266;
$secondary-color: #6E8898;
$tertiary-color: #9FB1BC;
$quaternary-color: #D3D0CB;
$quinary-color: #F04045;
$default-tag-color: #AAA;

$min10-primary: lighten($primary-color, 2.5);
$zero-primary: darken($primary-color, 7.5);
$plus10-primary: darken($primary-color, 11);
$plus20-primary: darken($primary-color, 17.5);

$zero-secondary: lighten($quaternary-color, 10);
$plus10-secondary: $zero-secondary;
$plus20-secondary: darken($zero-secondary, 10);

$highlight-color: $quinary-color;
$darker-highlight-color: darken($highlight-color, 12.5);

:root {
    --primary-color: #{$zero-primary};
    --secondary-color: #{$zero-secondary};
    --default-tag-color: #{$default-tag-color};
    --tag-color: #{$darker-highlight-color};
}
/******************************************************************************\
|                                    NAVBAR                                    |
\******************************************************************************/

/* COLORS */
$navbar-bg-active-color: $zero-secondary;
$navbar-bg-inactive-color: $zero-primary;
$navbar-text-active-color: $highlight-color;
$navbar-text-inactive-color: $zero-secondary;
$navbar-icon-active-color: $highlight-color;
$navbar-icon-inactive-color: $zero-secondary;
$navbar-border-color: $plus20-primary;

/* POSITIONING/SIZING */
$navbar-icon-size: 2.5rem;
$navbar-icon-small-size: 2rem;
$navbar-text-small-size: 0.7rem;
$navbar-size: 5rem;
$navbar-small-size: 3.5rem;

/* TRANSITION TIMING */
$navbar-fast-time: 0.0s;
$navbar-slow-time: 0.0s;

$card-background-color: #EFEFEF;
$website-background-color: #D8D8D8;
$card-shadow-color: darken($website-background-color, 20);
$shadow-in-card-color: darken($card-background-color, 20);

html, body {
    padding: 0;
    margin: 0;
    background: $website-background-color;
    font-family: 'Montserrat', 'DejaVu Sans', 'Verdana', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: $darker-highlight-color;
}

.katex-display > .katex {
    display: inline-block;
    white-space: nowrap;
    max-width: 100%;
    overflow-x: auto;
    text-align: initial;
    overflow-y: hidden;
    padding: 1px;
}
.katex {
    font: normal 1.21em KaTeX_Main, Times New Roman, serif;
    line-height: 1.2;
    white-space: normal;
    text-indent: 0;
}

code {
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
}

.codehilite {
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin: 0.5rem 0 0.5rem 0;
    overflow: auto;

    pre {
        margin: 0;

        code {
            margin: 0.5rem;
        }
    }
}

a {
    color: $darker-highlight-color;
    font-weight: bold;
}

a, a:active, a:focus, .paginate, #navbar-title, .collapsible-label {
    outline: none;
    text-decoration: none;
    /* Disable Text Highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Old versions of Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

a:focus, a:hover {
    text-decoration: underline;
}

#navbar {
    background: $navbar-bg-inactive-color;
    height: $navbar-size;
    width: 100%;
    align-items: center;
    border-bottom: 4px solid $navbar-border-color;

    #navbar-content {
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    #navbar-title {
        font-size: 1.5rem;
        font-weight: bold;
        border-bottom: 4px solid $navbar-border-color;
        color: $navbar-text-inactive-color;
        font-family: 'Inconsolata', monospace;
        transition: background $navbar-fast-time ease, border-color $navbar-fast-time ease;
        height: $navbar-size;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #navbar-title:hover {
        color: $highlight-color;
        background: $navbar-bg-active-color;
        border-bottom: 4px solid $highlight-color;
        transition: color $navbar-slow-time ease;
    }

    .navbar-link {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;
        align-items: center;
        transition: background $navbar-fast-time ease, border-color $navbar-fast-time ease;
        height: $navbar-size;
        border-bottom: 4px solid $navbar-border-color;

        .navbar-icon {
            display: block;
            padding-top: 0.75rem;
            padding-bottom: 0.25rem;
            min-width: $navbar-icon-size;
            max-width: $navbar-icon-size;
            max-height: $navbar-icon-size;
            min-height: $navbar-icon-size;
            transition: fill $navbar-slow-time ease;
            fill: $navbar-icon-inactive-color;
        }

        .navbar-text {
            display: block;
            text-align: center;
            font-weight: bold;
            transition: color $navbar-slow-time ease;
            white-space: nowrap;
            color: $navbar-text-inactive-color;
        }
    }

    .navbar-link:hover, .navbar-link:focus {
        background: $navbar-bg-active-color;
        border-bottom: 4px solid $highlight-color;

        .navbar-icon {
            fill: $navbar-icon-active-color;
            transition: fill $navbar-fast-time ease;
        }

        .navbar-text {
            color: $navbar-text-active-color;
            transition: color $navbar-fast-time ease;
        }
    }

    .navbar-link {
        outline: none;
    }
}

#mobile-title {
    display: none;
}

#content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;

    .card {
        background: $card-background-color;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        box-shadow: 4px 4px $card-shadow-color;

        img {
            display: block;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .header-card-container {
        width: 100%;
        text-align: center;
        background-color: $plus10-primary;
        font-size: 1.5rem;

        .header-card-text {
            display: block;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            color: $zero-secondary;
            font-weight: bold;
        }
    }

    .card + .card {
        margin-top: 1rem;
    }

    .paginate + .card, .card + .paginate {
        margin-top: 1rem;
    }

    .paginate-container {
        height: 2rem;
        text-align: center;

        .paginate {
            display: inline-block;
            height: 1.5rem;
            padding: 0.25rem;
            width: 1.5rem;
            border-radius: 0.1rem;
        }

        span.paginate {
            background: $plus20-primary;
            color: $plus20-secondary;
        }

        span.paginate-ellipsis {
            background: none;
            color: $plus20-primary;
            padding-left: 0;
            padding-right: 0;
        }

        a.paginate {
            background: $zero-primary;
            color: $zero-secondary;
        }

        a {
            position: relative;
        }

        a.paginate-next:hover:after, a.paginate-prev:hover:after {
            content: "";
            position: absolute;
            left: 1rem;
            right: 1rem;
            bottom: 0.5rem;
            border-bottom: 1px solid $zero-secondary;
        }

        .paginate-num {
            font-weight: bold;
            vertical-align: top;
            line-height: 1.5rem;
        }
    }

    .card-header {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 0.5rem;

        .card-title-container {
            border-bottom: 1px solid gray;

            .card-title {
                display: inline-block;
                padding: 1rem 0rem 0.25rem 0rem;
                font-weight: bold;
                margin: 0;
            }

            .card-title-link:focus, .card-title-link:hover > .card-title {
                text-decoration: underline;
            }

            .card-date-container {
                margin-bottom: 0.25rem;

                .card-date {
                    font-size: 0.9rem;
                    color: gray;
                }
            }
        }

    }

    .card-tag-container {
        margin-top: 0.25rem;

        .card-tag-icon {
            max-width: 1.4rem;
            max-height: 1.4rem;
            min-width: 1.4rem;
            min-height: 1.4rem;
            fill: gray;
            vertical-align: middle;
        }

        .card-tag {
            display: inline-block;
            margin-bottom: 0.25rem;
            font-size: 0.8rem;
            vertical-align: top;
            padding: 0.2rem 0.5rem 0.2rem 0.5rem;
            color: $zero-secondary;
            font-weight: bold;
            border-radius: 0.1rem;
            box-shadow: 2px 2px $shadow-in-card-color;
        }
    }

    .card > .card-tag-container {
        padding: 0.5rem;
    }

    .card-content {
        padding: 0rem 1rem 1rem 1rem;
        line-height: 2rem;

        p:first-child {
            margin: 0;
        }

        p {
            margin: 0.5rem 0 0.5rem 0;
        }

        p + p {
            padding-top: 0.5rem;
        }

        h2, h3, h4, h5, h6 {
            margin: 0;
        }

        h2 {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        p:first-child + h2 {
            padding-top: 0.5rem;
        }

        p + h2 {
            padding-top: 1.5rem;
        }

        .figure {
            text-align: center;
        }
        
    }

    .MathJax {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .footnote-ref {
        font-weight: bold;
    }

    .footnoteBackLink {
        font-weight: bold;
    }

    .footnotes {
        padding-top: 1rem;

        ol {
            margin: 0;
        }

        li {
            padding-bottom: 0;
        }
    }

    ul {
        li:before {
            content: ' ';
            display: inline-block;
            height: 1.5rem;
            width: 1.5rem;
            vertical-align: -6px; /* Looks better than vertical-align middle */
            mask: url('/static/media/arrow_right.svg') no-repeat 50% 50%;
            mask-size: cover;
            -webkit-mask: url('/static/media/arrow_right.svg') no-repeat 50% 50%;
            -webkit-mask-size: cover;
            background-color: $plus10-primary;
            margin-right: 0.5rem;
        }

        li {
            padding-bottom: 0.25rem;
            text-indent: -2rem;
            padding-left: 1.5rem;
        }

    }

    ul {
        margin: 0.5rem 0 0.25rem 0;
        padding-left: 0.5rem;
        list-style: none;
    }

    .card-revision-container {
        margin-top: -0.5rem;
        padding: 0 1rem 1rem 1rem;
        font-weight: bold;

        .card-revision {
            padding: 0.25rem;
            border-radius: 0.1rem;
        }

        a.card-revision {
            background: $zero-primary;
            color: $zero-secondary;
        }

        span.card-revision {
            background: $plus20-primary;
            color: $plus20-secondary;
        }
    }

    .card-read-more {
        display: flex;
        align-items: center;
        vertical-align: middle;
        float: right;
        padding: 0.25rem;
        padding-left: 0.5rem;
        margin-bottom: 1rem;
        line-height: 1rem;
        font-weight: bold;
        color: $zero-secondary;
        background: $darker-highlight-color;
        position: relative;
        box-shadow: 2px 2px $shadow-in-card-color;

        svg {
            vertical-align: middle;
        }
    }

    .card-read-more:hover svg, .card-read-more:focus svg {
        transform: rotate(360deg);
        transition: transform 0.5s ease;
    }

    .collapsible-container {
        width: 100%;
    }

    .collapsible-label {
        width: calc(100% - 2rem);
        display: block;
        padding: 0.25rem;
        padding-left: 2.25rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        background: $plus10-primary;
        color: $zero-secondary;
    }

    .collapsible-label:last-child {
        border-bottom: none;
    }

    .collapsible-label:hover .collapsible-icon {
        transform: rotate(90deg);
    }

    .collapsible-icon {
        float: right;
        margin-right: 0.5rem;
        min-width: 2rem;
        max-width: 2rem;
        min-height: 2rem;
        max-height: 2rem;
        transition: transform 0.5s ease;
    }

    .collapsible-item {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        font-weight: bold;
        color: $plus20-primary;

        li {
            font-size: 1rem;
        }
    }

    .collapsible-list {
        display: none;
        padding: 1rem;
        margin: 0;
    }

    .collapsible-checkbox {
        display: none;
    }

    .collapsible-checkbox:checked ~ .collapsible-list {
        display: block;
    }

    .collapsible-checkbox:checked ~ .collapsible-label > .collapsible-icon {
        transform: rotate(90deg);
    }

    .post-navigation {
        font-size: 1.5rem;
        font-weight: bold;
        color: $zero-secondary;
        vertical-align: middle;
        line-height: 2rem;

        svg {
            vertical-align: top;
            min-width: 2rem;
            max-width: 2rem;
            min-height: 2rem;
            max-height: 2rem;
        }
    }

    .post-navigation-card {
        background: $plus10-primary;
        padding: 0.5rem 0 0.5rem 0;
    }

    a.newer-post {
        float: left;
    }

    span.newer-post, span.older-post {
        color: $plus10-secondary;
    }

    span.newer-post {
        padding-left: 1rem;
    }

    span.older-post {
        padding-right: 1rem;
    }

    .older-post {
        float: right;
    }

    a.newer-post:hover svg {
        transform: rotate(-360deg);
        transition: transform 0.5s ease;
    }

    a.older-post:hover svg {
        transform: rotate(360deg);
        transition: transform 0.5s ease;
    }
}

.about img {
    float: right;
    border-radius: 1rem;
    width: 256px;
    padding-left: 0.5rem;
}

// Mobile-ish
@media only screen and (max-width: 667px) {
    #navbar {
        bottom: 0;
        position: fixed;
        border-bottom-color: $navbar-bg-inactive-color;
        z-index: 10000;

        #navbar-title {
            display: none;
        }

        .navbar-link {
            border-top: 4px solid $min10-primary;
            border-bottom-color: $navbar-bg-inactive-color;
        }

        .navbar-link:hover, .navbar-link:focus {
            border-top: 4px solid $highlight-color;
            border-bottom-color: $navbar-bg-active-color;
        }
    }

    #mobile-title {
        display: block;
        font-family: 'Inconsolata', monospace;
        font-size: 1.5rem;
        background: $zero-primary;
        color: $zero-secondary;
        margin: 0 auto 0 auto;
        padding: 0.5rem 0 0.5rem 0;
        text-align: center;
        border-bottom: 4px solid $navbar-border-color;
    }

    #content {
        margin-top: 0.5rem;
        margin-bottom: $navbar-size + 1rem;

        .card {
            margin: 0.5rem;

            .card-header > .card-title-container .card-title {
                font-size: 1.4rem;
            }

            .card-content {
                font-size: 0.9rem;

                h2 {
                    font-size: 1.2rem;
                }

                h3 {
                    font-size: 1.1rem;
                }

                ul {

                    li {
                        vertical-align: middle;
                        text-indent: -1.7rem;
                        padding-left: 1.2rem;
                    }

                    li:before {
                        content: ' ';
                        vertical-align: -4px; /* Looks better than vertical-align middle*/
                        display: inline-block;
                        height: 1.2rem;
                        width: 1.2rem;
                    }
                }
            }
        }

        .card + .card {
            margin-top: 0;
        }

        .paginate + .card, .card + .paginate {
            margin-top: 0.5rem;
        }

        .post-navigation {
            font-size: 1.25rem;
            padding: 0.1rem 0 0.1rem 0;
            line-height: 1.5rem;

            svg {
                min-width: 1.5rem;
                max-width: 1.5rem;
                min-height: 1.5rem;
                max-height: 1.5rem;
            }
        }
    }

    code {
        font-size: 0.9rem;
    }

    .about img {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 520px) {
    #navbar{
        height: $navbar-small-size;

        .navbar-link {
            .navbar-icon {
                padding: 0.25rem 0 0.1rem 0;
                min-width: $navbar-icon-small-size;
                max-width: $navbar-icon-small-size;
                min-height: $navbar-icon-small-size;
                max-height: $navbar-icon-small-size;
            }

            .navbar-text {
                font-size: $navbar-text-small-size;
            }
        }
    }

    #content {
        margin-bottom: $navbar-small-size + 0.5rem + 0.2rem;
    }
}

/* In between mobile / tablet where navbar too big */
@media only screen and (min-width: 668px) and (max-width: 750px) {
    #navbar {
        #navbar-title {
            font-size: 1.3rem;
            margin-left: 1rem;
        }

        .navbar-link {

            .navbar-icon {
                padding-top: 1rem;
                padding-bottom: 0.5rem;
                min-width: $navbar-icon-small-size;
                max-width: $navbar-icon-small-size;
                max-height: $navbar-icon-small-size;
                min-height: $navbar-icon-small-size;
            }

            .navbar-text {
                font-size: 0.7rem;
            }
        }
    }
}

/* In between mobile / tablet where navbar too big */
@media only screen and (min-width: 668px) and (max-width: 832px) {
    #navbar {
        .navbar-link:last-child {
            margin-right: 1rem;
        }

        .navbar-link > .navbar-text {
            font-size: 0.8rem;
        }
    }

    #content {
        .card {
            margin: 1rem;
        }
    }
}

// Tablet-ish
@media only screen and (min-width: 668px) and (max-width: 1024px) {
    #navbar {
        top: 0;

        #navbar-content {
            max-width: 800px;
        }
    }

    .card {
        max-width: 800px;
    }
}

// Desktop-ish
@media only screen and (min-width: 1025px) {
    #navbar {
        top: 0;
        #navbar-content {
            max-width: 1100px;
        }
    }

    .card {
        max-width: 1100px;
    }
}
