{% extends 'navbar_base.html' %}

{% import "pagination.html" as pagination %}
{% import "summary_card.html" as summary_card %}

{% block title %}{{ page_title }}{% endblock title %}

{% block content %}

    <div class='card'>
        <div class='header-card-container'>
            <span class='header-card-text'>{{ header_card }}</strong></span>
        </div>
    </div>

    {{ pagination.paginate(path, cur_page, num_pages, min_page, max_page) }}

    {% for post in posts %}
        {{ summary_card.render(post) }}
    {% endfor %}

    {{ pagination.paginate(path, cur_page, num_pages, min_page, max_page) }}

{% endblock content %}
